/*Header related*/

header {
    height:250px;
}

.jumbotron{
    background-image: image("images/land.jpg");
    background-image: url("images/land.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    text-align: center;
    align-content: center;
    height: 400px;
}

.navbar-form input, .form-inline input {
    width:auto;
}

.navbar-form input, .form-inline input {
    width:auto;
}

.container h1 {
    padding-top: 80px;
    color: white;
    font-size: 700%;
    font-weight: 400;
}

.container h2 {
    color: white;
    font-size: 400%;
    font-weight: 400;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

/*side nav bar used by business-docs page*/

.sidenav-fixed {
    width: 17.5%;
    position: fixed;
    top: 0px;
    overflow-y: scroll;
    padding-left: 0%;
    background-color: #fafafa;
    box-shadow: 1px 0px 2px #e0e0e0;
}


.sidenav-fixed li {
    list-style: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

#homeRef {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#homeRef a{
    color: #ffffff;
    font-size: large;
    font-weight: 400;
    text-align: center;
}

#homeRef a:hover {
    color: #e0e0e0;
    font-weight: 400;
    font-size: large;
    text-align: center;
}

.sidenav-fixed h1 {
    color: #9e9e9e;
    font-size: large;
    font-weight: 400;
    padding-left: 5px;
}

.sidenav-fixed a {
    color: #757575;
    font-weight: 300;
    font-size: medium;
}

.sidenav-fixed a:hover {
    color: #008080;
    font-size: medium;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

/*fixed navigation bar used by majority of website*/

.fixedNav {
    position: fixed;
    top: 0px;
    width: 100%;
    margin-bottom: 0;
    background-color: #008080;
    z-index: 9999;
    border: 0;
    /*font-size: 15px !important;*/
    /*line-height: 1.42857143 !important;*/
    letter-spacing: 4px;
    border-radius: 0;
    box-shadow: 0 1px 5px darkgray;
}

.navbar {
    /*position: static;*/
    width: 100%;
    margin-bottom: 0;
    background-color: #008080;
    z-index: 9999;
    border: 0;
    /*font-size: 15px !important;*/
    /*line-height: 1.42857143 !important;*/
    letter-spacing: 4px;
    border-radius: 0;
    box-shadow: 0 1px 5px darkgray;

}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #008080 !important;

}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
    background-color: #007676;

}



/*#carousel-custom {*/
/*margin: 20px auto;*/
/*width: 100%;*/
/*height: 350px;*/

/*}*/

/*#carousel-custom .carousel-indicators {*/
/*margin: 10px 0 0;*/
/*overflow: auto;*/
/*position: static;*/
/*text-align: center;*/
/*white-space: nowrap;*/
/*width: 100%;*/
/*height: 350px;*/
/*}*/

/*#carousel-custom .carousel-indicators li {*/
/*background-color: transparent;*/
/*-webkit-border-radius: 0;*/
/*border-radius: 0;*/
/*display: inline-block;*/
/*height: auto;*/
/*margin: 0;*/
/*width: auto;*/
/*color: #008080;*/
/*}*/

/*#carousel-custom .carousel-indicators li img {*/
/*display: block;*/
/*opacity: 0.5;*/
/*}*/

/*#carousel-custom .carousel-indicators li.active img {*/
/*opacity: 1;*/
/*}*/

/*#carousel-custom .carousel-indicators li:hover img {*/
/*opacity: 0.75;*/
/*}*/

/*#carousel-custom .carousel-outer {*/
/*position: relative;*/
/*}*/

/*.carousel-control:hover {*/
/*color:#008080;*/
/*}*/

/*.carousel-inner img {*/

/*width: 20%; !* Set width to 100% *!*/
/*margin-left: 40%;*/
/*margin-right: 40%;*/
/*}*/

#carousel-custom {
    margin: 20px auto;
    width: 100%;
    height: 350px;

}

.carousel-indicators li {
    border-color: #008080;
}

.carousel-indicators li.active {
    background-color: #008080;
}

#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    height: 350px;
}

#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0;
    width: auto;
    color: #008080;
}

#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}

#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}

#carousel-custom .carousel-outer {
    position: relative;
}

.carousel-control:hover {
    color:#008080;
}

.carousel-inner img {

    width: 20%; /* Set width to 100% */
    margin-left: 40%;
    margin-right: 40%;
}

button{
    border:none;
    background:none;
    text-align: center;
    color:#ffffff;
    transition: all 0.5s;
    outline:none;
    font-size: 12px;
}

button:hover{
    color: #008080;
    background: #ffffff;
}

.selected {
    color: #008080;
    background: #ffffff;
}

/*benefits panel*/

#benefitsPanel {
    padding-top: 10px;
    box-shadow: 0 1px 5px darkgray;
}

/*vision panel*/

#visionPanel {
    width: 80%;
    padding: 10px;
    margin: 0px auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

#visionPanel h1 {
    text-align: center;
    color: #008080;
    padding-bottom: 30px;
    font-size: 400%;
}

#visionPanel p {
    text-align: center;
    font-size: large;
    font-weight: 400;
    color: #424242;
}

/*additional info panel*/

.additionalInfoPanel {
    width: 85%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.additionalInfoPanel h2 {
    margin: auto;
    color: #757575;
    font-weight: 300;
    font-size: medium;
    text-align: center;
}

.additionalInfoPanelContent {
    display: inline-table;
    margin: auto;
    width: 33%;
    padding: 20px;
}

.additionalInfoPanelContent img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.additionalInfoPanelContent h1 {
    text-align: center;
    color: #505050;
    font-weight: 500;
    font-size: large;
}

.additionalInfoPanelContent p {
    text-align: justify;
    color: #212121;
    font-weight: 300;
    color: #757575;
}

/*footer panel*/

.footerPanel {
    width: 100%;
    /*border: 5px solid;*/
    box-shadow: 0 -3px 4px #9e9e9e;
    padding-top: 10px;
    background-color:#252525;
    padding-bottom: 15px;
}



.footerPanel a{
    color: #e5e5e5;
    font-weight: 300;
    font-size: small;
}

.footerPanel p{
    color: #e5e5e5;
    font-weight: 300;
    font-size: small;
}

.footerPanel h4{
    color: #505050;
    font-weight: 400;
    padding-top: 10px;
}

.footerPanel a:hover{
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.footerPanelContent {
    float:left;
    margin:0px auto;
    width:25%;
}

#footerPanelRow {
    margin-left: 5%;
}

#lightFontStyle{
    color: #e5e5e5;
    font-weight: 300;
}

#lightFontStyle:hover{
    font-weight: 500;
    color: white;
}

/*Footer*/

footer {
    background-color: #151515;
    padding: 10px;
}

footer p {
    color: #444444;
    font-weight: 400;
    text-align: center;
}



.team-content {
    padding-bottom: 50px;
}

.team-image {
    display: block;
    margin: auto;
    max-height: 150px;
    max-width: 150px;

}

.team-content h1 {
    font-size: 150%;
    color: #9e9e9e;
    padding-left: 20px;
}

.team-content p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-weight: 300;
    color: #424242;
    font-size: medium;
}

.grey-seperator {
    background: #e0e0e0;
    height: 1px;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.grey-seperator-close {
    background: #e0e0e0;
    height: 1px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.faq {
    width: 80%;
    box-shadow: 0px 0px 5px #bdbdbd;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ffffff;
}

.faq h2 {
    color: #545454;
    font-size: large;
    font-weight: 400
}

.faq h3 {
    margin-top: 40px;
    color: #008080;
}

.faq h4 {
    font-weight: 400;
    color: #757575;
}

.faq p {
    color: #424242;
    font-weight: 300;
    font-size: large;
}

.home-page-phone {
    height: 400px;
    width: 250px;
    margin: 0;
    padding-top: 50px;
    padding-left: 20px;
}

/*general page class used through website*/

.page-themed {
    margin: auto;
    width: 80%;
    box-shadow: 0px 0px 5px #bdbdbd;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ffffff;
}

.page {
    margin: auto;
    width: 80%;
    box-shadow: 0px 0px 5px #bdbdbd;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ffffff;
}

.page-content {
    background-color: #ffffff;
    width: 90%;
    margin: auto;
}

.page-content-themed {
    width: 90%;
    margin: auto;
}

.page-content-raised {
    background-color: #fafafa;
    box-shadow: 0px 0px 10px #bdbdbd
}

.extend-div-20 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.white-space-80 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.white-space-160 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.white-space-320-mobile {
    margin-top: 160px;
    margin-bottom: 160px;
}

.white-space-960 {
    margin-bottom: 480px;
    margin-top: 480px;
}

.white-space-640 {
    margin-bottom: 320px;
    margin-top: 320px;
}

.h1-content-title {
    color: #757575;
    font-size: x-large;
    font-weight: 200;
}

.page-table-image {
    height: 350px;
    width: auto;
    margin-right: 40px;
}

.page-themed h4 {
    color: #424242;
    font-weight: 400;
    font-size: medium;
}

.page-themed a:hover {
    color: #008080;
}

.page-themed #p-indent {
    padding-left: 25px;
}

.page-themed h1 {
    color: #656565;
    font-weight: 400;
    font-size: medium;
    text-align: justify;
}

.page-themed strong {
    color: #008080;
}

.page-themed b {
    color: #424242;
}

.page-themed p {
    font-weight: 400;
    color: #212121;
}

.page-themed h3 {
    color: #757575;
    font-weight: 300;
    font-size: small;
    text-align: right;
}

.page-title {
    font-size: 400%;
    text-align: center;
    color: #008080;
}

.p-main {
    font-size: xx-large;
    font-weight: 300;
    color: #656565;
    text-align: center;
}

.p-main-3 {
    font-size: 100%;
    font-weight: 300;
    color: #424242;
    text-align: center;
}

.p-image-title {
    font-size: medium;
    color: #757575;
    font-weight: 300;
}

.p-tip {
    font-size: medium;
    font-weight: 300;
    color: #9e9e9e;
}

.p-main-2{
    font-size: x-large;
    font-weight: 300;
    color: #757575;
    text-align: center;
}

.p-main-3 {
    font-size: large;
    font-weight: 300;
    color: #757575;
    text-align: justify;
}

.page-title-2 {
    font-size: xx-large;
    font-weight: 300;
    color: #757575;
    text-align: center;
}

/*Used by the FAQ*/

.selected {
    display: block;
}

.unselected {
    display: none;
}

/*Carousel on home page*/

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

/*.hide-bullets, li {*/
/*padding: 0 45px 30px;*/
/*}*/

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

.carousel-caption{
    color: #000;
    /*position: relative;*/
}

.bs-example, .new-caption-area {
    width: 600px;
    margin: auto;
    color: #000;
}

#slider-thumbs{
    margin-top: 5px;
}

#carousel-bounding-box{
    margin: 25px;
}

.font-h1-theme-1 {
    color: #424242;
    font-weight: 500;
}

.font-h1-theme-2 {
    color: #9e9e9e;
    font-size: x-large;
    text-align: center;
    font-weight: 300;
}

.font-h1-theme-3 {
    color: #008080;
    font-size: 400%;
    font-weight: 300;
    text-align: center;
}

.image-square-150 {
    height: 150px;
    width: 150px;
}

.image-square-200 {
    height: 200px;
    width: 200px;
}

.image-square-75 {
    height: 75px;
    width: 75px;
}

.image-square-100 {
    height: 100px;
    width: 100px;
}

.image-center {
    display: block;
    margin: auto;
}

.desktop-reverse {
    display: none;
}

.mobile-reverse {
    display: block;
}

.font-mobile-reverse-right {
    text-align: right;
}

@media all and (max-device-width: 768px) {

    .mobile-white-space-60 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .page-table-image {
        height: 250px;
        width: auto;
        margin-right: 20px;
    }

    .font-mobile-reverse-right {
        text-align: left;
    }

    .font-h1-theme-1 {
        font-size: 200%;
    }

    .mobile-reverse {
        display: none;
    }

    .desktop-reverse {
        display: block;
    }

    .p-main-2 {
        text-align: left;
    }

    .white-space-160 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .white-space-320-mobile {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .white-space-960 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .jumbotron{
        margin: auto;
    }

    .home-page-phone {
        display: none;
    }

    .page {
        margin: auto;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 80px;
        background-color: #ffffff;
    }

    .page-themed {
        margin: auto;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 80px;
        background-color: #ffffff;
    }

    .faq {
        margin: auto;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 80px;
        background-color: #ffffff;
    }

    .faq h2 {
        color: #545454;
        font-size: small;
        font-weight: 400;
    }

    .faq h3 {
        margin-top: 40px;
        color: #008080;
        font-size: large;
        font-weight: 400;
    }

    .faq h4 {
        font-size: medium;
        font-weight: 400;
        color: #757575;
    }

    .faq p {
        color: #424242;
        font-weight: 400;
        font-size: small;
    }

    .page-content {
        width: 90%;
        margin: auto;
        padding-top: 10px;
    }

    .page-content-themed {
        width: 90%;
        margin: auto;
        padding-top: 10px;
    }

    .team-image {
        /*max-width: none;*/
        /*max-height: none;*/
        /*display: block;*/
        margin: auto;
        width: 100%;
        height: auto;
    }

    .team-content {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .page-title {
        font-size: xx-large;
        text-align: center;
        color: #008080;
    }

    .grey-seperator {
        background: #e0e0e0;
        height: 1px;
        width: 95%;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .grey-seperator-close {
        background: #e0e0e0;
        height: 1px;
        width: 95%;
        margin: auto;
        margin-top: 2px;
        margin-bottom: 2px;
    }

}
