.contaner{
    margin: 1% 20% 1% 20%;
    border: 2px solid gainsboro;
    border-radius: 3%;
    box-shadow: rgba(165, 165, 165, 0.71) 15px 8px 5px 0px;
    position: relative;
    top: 0;
    bottom: 0;
}

a:hover{
    text-decoration: none;
    border-bottom: none;
}

#TopNav{
    background-color: #008080;
    border: 2px solid gainsboro;
    border-bottom: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#logo{
    padding: 1% 1% 1% 1%;
    width: 15%;
    height: 15%;
}

#homeLogo{
    margin-left: 35%;
    color: white;
    padding: 1% 5% 0% 5%;
    font-size: 350%;
}

#homeLogo:hover{
    border:none;
    text-decoration: none;
    font-weight: bold;
}

#topSenterLine{
    border-top: 2px solid #d3d3d3;
    font-size: large;
}

#bottomSenterLine{
    border-bottom:2px solid #d3d3d3;
}

#FailedImg{
    margin: 0% 42%;
    width: 15%;
    height: 15%;
}

#SuccessImg{
    margin: 0% 42%;
    width: 15%;
    height: 15%;
}

p{
    color: #6c6c6c;
    font-size: 150%;
    line-height: 120%;
    margin: 2% 2%;
    font-weight: 100;
}

#Success {
    color: green;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

#Failed {
    color: red;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

#maltieMedia{
    margin: 2%;
}

h2{
    color: #606060;
    font-size: x-large;
    font-weight: 100;
}

span{
    color: #6c6c6c;
    font-size: 100%;
}

#facebook{
    margin-left: 5%;
    width: 21%;
    height: 21%;
    margin-top: 5%;
}

#googlePluse{
    /*padding: 2%;*/
    margin-top: 5%;
    margin-left: 45%;
    width: 22%;
    height: 22%;
}

@media all and (max-device-width: 768px) {
    .contaner{
            margin: 0;
            border: none;
            border-radius: 0;
            box-shadow: none;
        }

    #TopNav{
        background-color: #008080;
        border: none;
        border-radius: 0;
    }

    #logo{
        padding: 1%;
        width: 20%;
        height: 20%;
    }

    #homeLogo{
        margin-left: 33%;
        color: white;
        padding: 5%;
        font-size: 500%;
        font-weight: bold;
    }

    a:hover{
        text-decoration: none;
        border-bottom: none;
    }

    #homeLogo:hover{
        border:none;
        text-decoration: none;
        font-weight: bold;
    }

    #Success {
        color: green;
        text-align: center;
        font-size: 400%;
        font-weight: bold;
    }

    #FailedImg{
        margin: 0% 32%;
        width: 35%;
        height: 35%;
    }

    #SuccessImg{
        margin: 0% 32%;
        width: 35%;
        height: 35%;
    }

    p{
        color: #6c6c6c;
        font-size: 300%;
        line-height: 120%;
        margin: 25px 25px;
    }

    #Failed {
        color: red;
        text-align: center;
        font-size: 400%;
        font-weight: bold;
    }

    h2{
        color: #606060;
        font-size: xx-large;
        font-weight: 100;
    }

    #googlePluse{
        /*padding: 2%;*/
        margin-left: 30%;
        width: 30%;
        height: 30%;
    }

    #facebook{
        margin-left: 5%;
        width: 30%;
        height: 30%;
    }


}



