header{
  background-color: #444444;
    padding: 12px;
    width: 100%;
    color: teal;
}

#logo{
    height: 10%;
    width: 5px;
}

#headerTbl >th{
    border: none;
    text-align: center;

}

#Logo{
    margin: 25px;
}

h1{
    color: teal;
    /*text-align: center;*/
    font-size: 48px;
    font-weight: 600;
}

body{
    background-color: rgba(241, 233, 238, 0.69);
}

#borderEmail{
    pading: 30px;
    margin-bottom: 20px;
    margin-top: 20px;

}

#Email{
    background-color: #cbcdd0;
    pading: 25px;
    /*margin: 0;*/
    border: none;
    border-radius: 15px;
    font-size: 18px;
    width: 100%;
}

#homeBtn{
    align: right;
    margin: 5px;
}

footer{
    background-color:#008080;
    color: white;
}

table{
    padding: 25px;
}

td {
    border: none;
    color: white;
    font-size: 23px;
    /*border-right: 2px solid ghostwhite ;*/
    padding-left: 15px;
}

th{
    text-align: left;
    color: gainsboro;
    /*border-right: 2px solid ghostwhite ;*/
    padding-left: 15px;
    font-size: 25px;
    border-bottom: 1px solid ghostwhite;
}

table {
    align: center;
    border-collapse: collapse;
    width: 70%;
    margin-left: 18%;
}

th {
    height: 50px;
}

#contact{
    text-align: center;
    font-size: 16px;
    margin: 0%;
    margin-bottom: 2%;
    padding: 2%;
    background-color: #008989;
    width: 100%;
}