<% include header.ejs %>


<p>This is just to confirm that you have successfully added <strong style="color: #008080"><%=businessName%></strong> to Stackle.</p>
<p>Now that your business has been added; you can continue setting it up by adding images, products, promotions, a description and more.<br><br>
    To get started with adding these details, navigate to your now available Business Page on the app, slide down and click on 'Manage'.<br><br>
    From there you will be able to add a variety of information to your page.
</p>
<strong style="color: #008080">Unique Stores:</strong>
<p>
    You can have many stores.
    <br>
    Most importantly each store shares the business's description, products, promotions, business hours and logo.
    <br>
    However, every store has unique reviews, images, ratings.
    <br>
    Business Members can be shared or unique depending on your choice.
</p>
<strong style="color: #008080">Bidwords and Stats:</strong>
<p>
    Every week you will be receiving an email breaking down how your store performed: how many views and clicks you received.
    <br>
    Bidwords place a priority on your stores, it increases your ranking in search results.
    <br>
    If you have active bidwords you will also receive a report on how effective your bidwords were.
</p>
<p>
    If you need any help or additional information please check out: <a href="http://stackle.co.za/business-docs">Business Docs</a>
</p>
<p>
    Alternatively if you any unanswered questions please feel free to get in contact with us via facebook, google or:
    <br>
    email: info@stackle.co.za
    <br>
    phone: 021 851 2820
</p>
<br>
<p>Please note that our office hours are 9:00AM to 17:00PM, weekdays only.</p>
<br>
<p>We trust you will have a rewarding experience on Stackle.</p>

<% include footer.ejs %>