<% include header.ejs %>

<p>The daily advertising limit for <strong style="color: #008080"><%= businessName%></strong> has been updated.</p>
<br>
<p>Please note that this update will only take effect within the next 24 hours.</p>
<br>
<p>If you did intend to change your daily limit please contact us at info@stackle.co.za.</p>
<br>
<p>Thank you for advertising on Stackle.</p>

<% include footer.ejs %>