<% include header.ejs %>

<p>The deposit for <strong style="color: #008080"><%= businessName%></strong> is running low and will soon be completed.</p>
<br>
<p>If you wish to continue advertising on Stackle please increase your deposit as soon as possible.</p>
<br>
<p>Thank you for advertising on Stackle.</p>
<p>We trust it has been a rewarding experience.</p>

<% include footer.ejs %>