<% include header.ejs%>

<p>This email is just to confirm that <strong style="color: #008080"><%=businessName %></strong> has been successfully credited.<br><br>
Please note that it can take up to 24 hours for any deactivated bidwords to be reactivated.</p>

<% include footer.ejs %>