<br>
<p>Sincerely</p>
<p>The Stackle Team</p>

</div>
</div>
</body>
<div style="background-color:#008080; color:white; width: 100%;">
    <table style="color: white;padding: 25px;align: center;border-collapse: collapse;width: 70%;margin-left: 18%;margin-bottom: 30px;">
        <tr>
            <th style="text-align: left;color: #005656;padding-left: 15px;font-size: 22px;border-bottom: 1px solid ghostwhite; height: 50px;">About Us</th>
            <th style="text-align: left;color: #005656;padding-left: 15px;font-size: 22px;border-bottom: 1px solid ghostwhite; height: 50px;">Business Setup</th>
            <th style="text-align: left;color: #005656;padding-left: 15px;font-size: 22px;border-bottom: 1px solid ghostwhite; height: 50px;">Contact Us</th>
            <th style="text-align: left;color: #005656;padding-left: 15px;font-size: 22px;border-bottom: 1px solid ghostwhite; height: 50px;">Support</th>
        </tr>
        <tr>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.stackle.co.za/careers">Careers</a></td>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.stackle.co.za/business-docs#setting-up">First Time Setup</a></td>
            <td style="border: none;padding-left: 19px;">021 851 2820</td>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.stackle.co.za/careers">Acknowledgements</a></td>
        </tr>
        <tr>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.stackle.co.za/team">Team</a></td>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.stackle.co.za/business-docs#adding-content">Adding Content</a></td>
            <td style="border: none;padding-left: 19px;">info@stackle.co.za</td>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.stackle.co.za/faq">FAQ</a></td>
        </tr>
        <tr>
            <td style="border: none;padding-left: 19px;"></td>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.stackle.co.za/business-docs#business-hours">Busniess Hours</a></td>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.facebook.com">Facebook Page</a></td>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.stackle.co.za/privacy">Privacy Agreement</a></td>
        </tr>
        <tr>
            <td style="border: none;padding-left: 19px;"></td>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.stackle.co.za/business-docs#members">Members</a></td>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.google.com">Google+ Page</a></td>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.stackle.co.za/terms-conditions">Terms and Conditions</a></td>
        </tr>
        <tr>
            <td style="border: none;padding-left: 19px;"></td>
            <td style="border: none;padding-left: 19px;"></td>
            <td style="border: none;padding-left: 19px;">518 Valderrama<br>
                Somerset Links Office Park<br>
                7129</td>
            <td style="border: none;padding-left: 19px;"></td>
        </tr>
    </table>
    <div>
        <p id="contact" style="background-color: #444444;text-align: center;font-size: 16px;margin: 0%;margin-bottom: 2%;padding: 2%;">Phone: 021 851 2820 |
            Website: <a href="http://www.stackle.co.za" style="color: white">stackle.co.za</a> </p>
    </div>
</div>
</html>