<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<div style="background-color: #444444; color: #FFFFFF;padding: 12px; width: 100%;">
    <table id="headerTbl" style="border: none;text-align: center;">
        <tr>
            <td style="border: none;padding-left: 19px;"><a  href="http://www.stackle.co.za"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                                  viewBox="0 0 24 24" style="enable-background:new 0 0 24 24; height: 48px; width: 48px" xml:space="preserve">
<style type="text/css">
    .st0{fill:#FFFFFF;}
</style>
                        <path class="st0" d="M13.3,0v0.5v1.9c0.7,0,2.1,0.1,3.5,0.9c3.1,1.9,3.1,6,3.1,6.3c0.8,0,1.6,0,2.5,0c0-0.4,0.1-5.4-3.9-8.1
	C16.4,0.1,14.3,0,13.3,0z"/>
                        <path class="st0" d="M17.6,12c-0.2,0.8-0.5,1.4-0.9,2.1c-0.4,0.7-1,1.5-1.8,2.6c-0.6,0.8-1.1,1.4-1.9,2.3c-0.7,0.8-1.4,1.4-1.9,1.9
	c-0.3-0.3-0.8-0.6-1.2-1.1c-0.2-0.2-0.6-0.6-1.2-1.2c-1.6-1.8-2.7-3.5-3-3.9c-0.6-1-0.9-1.5-1.1-2s-0.7-2.1-0.1-4.1
	c0.3-1,0.8-1.7,1.1-2.1c0.9-1.2,2-1.7,2.7-2c1.2-0.5,2.3-0.7,3-0.7V1.3c-0.8,0-1.8,0.1-3,0.5C5.7,2.7,4.3,4.2,4,4.5
	C3,5.6,2.5,6.7,2.4,7.1c-0.7,1.6-0.7,3-0.7,3.4c0,1.7,0.6,2.9,1.1,4.1c0.7,1.6,1.5,2.6,2.6,4c1.5,1.9,2.8,3.1,3.2,3.5
	c1,0.9,1.9,1.6,2.6,2c1.4-1.2,2.6-2.3,3.4-3.3c0.4-0.4,1.2-1.3,2-2.4c0.6-0.8,1.3-1.7,2-2.9c0.9-1.6,1.2-2.6,1.3-2.9
	c0.1-0.6,0.2-1.1,0.2-1.5c-0.8,0-1.7,0-2.5,0C17.8,11.2,17.7,11.6,17.6,12z"/>
</svg></a></td>
            <td style="border: none;padding-left: 19px;"><a style="color: white;text-decoration: none;" href="http://www.stackle.co.za"><h1 style="color: #FFFFFF;font-size: 48px;font-weight: 600;">Stackle</h1></a></td>
            <td style="border: none;padding-left: 19px;"></td>
            <td style="border: none;padding-left: 19px;"></td>
        </tr>
    </table>
</div>
<body style="background-color: #FFFFFF;">
<div id="borderEmail" style="pading: 30px;margin-bottom: 20px;margin-top: 20px;">
    <div id="Email"  style="color: #757575; padding: 20px;border: none;border-radius: 15px;font-size: 18px;margin: 5%;">

        <h2>Hi,</h2>