<% include header.ejs %>

<p>You have been sent a membership request to join  <strong style="color: #008080"><%= businessName%></strong> as:  <strong style="color: #008080"><%=memberRole%></strong></p>
<p>To confirm your membership, <a style="color: #008080" href=<%=link%>>click here</a>, otherwise you may ignore this message.</p>
<br>
<li>Email: info@stackle.co.za</li>
<li>Phone: 021 851 2820</li>

<% include footer.ejs %>