<% include header.ejs %>

<p>We have received a request to remove a store from <strong style="color: #008080"><%= businessName%></strong> in <strong style="color: #008080"><%= storeLoc%></strong> </p>
<p>Please note that if a store is removed none of its data can be recovered.</p>
<br>
<p>To remove this store, <a style="color: #008080" href=<%=removeLink%>>click here</a>, otherwise ignore this message.</p>
<br>
<p>If you did not make this request or authorise anyone to remove this store please contact us immediately at: </p>
<br>
<p>Email: info@stackle.co.za</p>
<p>Phone: 021 851 2820</p>

<% include footer.ejs %>