<% include header.ejs %>

<p>A new store has been added to <strong style="color: #008080"><%= businessName%></strong> in <strong style="color: #008080"><%= storeLoc%>, <%=storeGeo%></strong> </p>
<p>If you did not add or authorise anyone to add this store please contact us immediately at: </p>
<br>
<p>Email: info@stackle.co.za</p>
<p>Phone: 021 851 2820</p>

<% include footer.ejs %>