<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        #headerTbl >th{
            border: none;
            text-align: center;
        }

        h1{
            color: #FFFFFF;
            font-size: 48px;
            font-weight: 600;
        }

        #borderEmail{
            pading: 30px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        #Email{
            border: none;
            border-radius: 15px;
            font-size: 18px;
            margin: 5%;
        }

        table{
            padding: 25px;
        }

        td {
            border: none;
            padding-left: 19px;
        }

        th{
            text-align: left;
            color: #005656;
            padding-left: 15px;
            font-size: 22px;
            border-bottom: 1px solid ghostwhite;
        }

        table {
            align: center;
            border-collapse: collapse;
            width: 70%;
            margin-left: 18%;
            margin-bottom: 30px;
        }

        th {
            height: 50px;
        }

        h2 {
            color: #008080;
        }

        strong {
            color: #008080;
        }

        #contact{
            text-align: center;
            font-size: 16px;
            margin: 0%;
            margin-bottom: 2%;
            padding: 2%;
        }
        a{
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="background-color: #444444; color: #FFFFFF;padding: 12px; width: 100%;">
    <table id="headerTbl">
        <tr>
            <td><a href="http://www.stackle.co.za"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
<style type="text/css">
    .st0{fill:#FFFFFF;}
</style>
                        <path class="st0" d="M13.3,0v0.5v1.9c0.7,0,2.1,0.1,3.5,0.9c3.1,1.9,3.1,6,3.1,6.3c0.8,0,1.6,0,2.5,0c0-0.4,0.1-5.4-3.9-8.1
	C16.4,0.1,14.3,0,13.3,0z"/>
                        <path class="st0" d="M17.6,12c-0.2,0.8-0.5,1.4-0.9,2.1c-0.4,0.7-1,1.5-1.8,2.6c-0.6,0.8-1.1,1.4-1.9,2.3c-0.7,0.8-1.4,1.4-1.9,1.9
	c-0.3-0.3-0.8-0.6-1.2-1.1c-0.2-0.2-0.6-0.6-1.2-1.2c-1.6-1.8-2.7-3.5-3-3.9c-0.6-1-0.9-1.5-1.1-2c-0.2-0.5-0.7-2.1-0.1-4.1
	c0.3-1,0.8-1.7,1.1-2.1c0.9-1.2,2-1.7,2.7-2c1.2-0.5,2.3-0.7,3-0.7V1.3c-0.8,0-1.8,0.1-3,0.5C5.7,2.7,4.3,4.2,4,4.5
	C3,5.6,2.5,6.7,2.4,7.1c-0.7,1.6-0.7,3-0.7,3.4c0,1.7,0.6,2.9,1.1,4.1c0.7,1.6,1.5,2.6,2.6,4c1.5,1.9,2.8,3.1,3.2,3.5
	c1,0.9,1.9,1.6,2.6,2c1.4-1.2,2.6-2.3,3.4-3.3c0.4-0.4,1.2-1.3,2-2.4c0.6-0.8,1.3-1.7,2-2.9c0.9-1.6,1.2-2.6,1.3-2.9
	c0.1-0.6,0.2-1.1,0.2-1.5c-0.8,0-1.7,0-2.5,0C17.8,11.2,17.7,11.6,17.6,12z"/>
</svg></a></td>
            <td><a href="http://www.stackle.co.za"><h1>Stackle</h1></a></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<div style="background-color: #FFFFFF;">
    <div id="borderEmail">
        <div id="Email"  style="color: #757575; padding: 20px">


            <h2>Hi</h2>
            <p>This email is just to confirm that <strong><%=businessName %></strong> has been succeesfully credited.
                Please not that it can take up to 24 hours for any deactivated bidwords to be reactivated.</p>
            <br>
            <p>Sincerely</p>
            <p>Stackle Pty Lyd</p>



        </div>
    </div>
</div>
<div style="background-color:#008080; color:white; width: 100%;">
    <table style="color: white;">
        <tr>
            <th>About Us</th>
            <th>Business Setup</th>
            <th>Contact Us</th>
            <th>Support</th>
        </tr>
        <tr>
            <td><a href="http://www.stackle.co.za/careers">Careers</a></td>
            <td><a href="http://www.stackle.co.za/business-docs#setting-up">First Time Setup</a></td>
            <td>021 851 2820</td>
            <td><a href="http://www.stackle.co.za/careers">Acknowledgements</a></td>
        </tr>
        <tr>
            <td><a href="http://www.stackle.co.za/team">Team</a></td>
            <td><a href="http://www.stackle.co.za/business-docs#adding-content">Adding Content</a></td>
            <td>info@stackle.co.za</td>
            <td><a href="http://www.stackle.co.za/faq">FAQ</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.stackle.co.za/business-docs#business-hours">Busniess Hours</a></td>
            <td><a href="http://www.facebook.com">Facebook Page</a></td>
            <td><a href="http://www.stackle.co.za/privacy">Privacy Agreement</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://www.stackle.co.za/business-docs#members">Members</a></td>
            <td><a href="http://www.google.com">Google+ Page</a></td>
            <td><a href="http://www.stackle.co.za/terms-conditions">Terms and Conditions</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>518 Valderrama<br>
                Somerset Links Office Park<br>
                7129</td>
            <td></td>
        </tr>
    </table>
    <div>
        <p id="contact" style="background-color: #444444">Phone: 021 851 2820 |
            Website: <a href="http://www.stackle.co.za" style="color: white">stackle.co.za</a> </p>
    </div>
</div>
</body>
</html>