<% include header.ejs %>

<p>This is your weekly stats for <strong style="color: #008080"><%= businessName%></strong> at <strong style="color: #008080"><%= storeLoc%></strong>, <strong> style="color: #008080"<%=storeGeo%></strong></p>
<table>
    <tr>
        <th style="color: #757575;">No. of views</th>
        <th style="color: #757575;">No. of clieks</th>
        <th style="color: #757575;">No. of likes</th>
        <th style="color: #757575;">No. of reviews</th>
        <th style="color: #757575;">No. of comments</th>
    </tr>
    <tr>
        <td>somthig</td>
        <td>somthig</td>
        <td>somthig</td>
        <td>somthig</td>
        <td>somthig</td>
    </tr>
</table>
<p>afte adding bla bla to <%=businessName%> has gone up by 10% in views </p>

<% include footer.ejs %>