.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.hide-bullets, li {
    padding: 0 45px 30px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

.carousel-caption{
    color: #000;
    /*position: relative;*/
}

.bs-example, .new-caption-area {
    width: 600px;
    margin: auto;
    color: #000;
}

#slider-thumbs{
    margin-top: 5px;
}

#carousel-bounding-box{
    margin: 25px;
}
