header {
    height:280px;
}



.row.content {
    /*height: 1000px;*/
}

.sidenav {
    background-color: #008080;
    height: 100%;
    width: 300px;
    color: #ffffff;
}

.panel-title{
    color: #ffffff;
    font-size: 20px;
}

.panel-body{
    color: #008080;
    font-size: 15px;
    background-color: #ffffff;
}

.panel-default{
    border: none;
    background-color: #009999;
    width: 100%;
}

#footerPanel {
    width: 100%;
    box-shadow: 0 1px 10px darkgray;
    background-color:#1a1a00;
}

#footerPanel p{
    color: #ffffff;
}

#footerPanel h4{
    color: #999999;
}

footer {
    background-color: #1a1a00;
    padding: 25px;
    color: #ffffff;
    padding-top: 0;
}

button {
    margin: 15px 15px 15px 45px;
}

a{
    color: white;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
    background-color: #008080;
}


