.sidenav {
    background-color: #008080;
    height: 100%;
    width: 300px;
    color: #ffffff;
}

#footerPanel {
    width: 100%;
    box-shadow: 0 1px 10px darkgray;
    background-color:#1a1a00;
}

#footerPanel p{
    color: #ffffff;
}

#footerPanel h4{
    color: #999999;
}

footer {
    background-color: #1a1a00;
    padding: 25px;
    color: #ffffff;
    padding-top: 0;
}

.hr{
    border-top: 1px solid gainsboro;
    height: 2px;
    width: 100%;
    margin: 1.2em 0;
}

p{
    font-size: 17px;
    line-height: 1.5;
}

a{
    color: white;
}



