<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="public/css/style.css" rel="stylesheet">
</head>
<body>
<div class="contaner">
    <div id="TopNav" class="col-sm-12">
        <a href="http://www.stackle.co.za/">
            <img id="logo" src="public/images/stackle_white.svg" alt="logo" align="left"><h1 id="homeLogo">Stackle</h1></a>
    </div>
    <div>
        <img id="FailedImg" src="public/images/fail.png">
        <h1 id="Failed">Failed</h1>
    </div>
    <div id="topSenterLine">
        <p>Add Member Failed</p>
    </div>
    <div>
        <p><%=failReason%></p>
    </div>
    <div id="bottomSenterLine">
        <p>If after checking the above you still receiving this message; please contact us at info@stackle.co.za or 021 851 2820</p>
    </div>
    <div class="row" id="maltieMedia">
        <div class="col-sm-6">
            <h2>Email:<span>info@stackle.co.za</span></h2>
            <h2>Phone:<span>021 851 2820</span></h2>
        </div>
        <div class="col-sm-6">
            <a href="http://www.google.co.za/"><img id="googlePluse" src="public/images/googleRedBackground.svg"></a>
            <a href="https://www.facebook.com/"><img id="facebook" src="public/images/facebookBlueBackground.svg"></a>
        </div>
    </div>
</div>
</body>
</html>